<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name="f" method="post" th:action="@{/login/process}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
    </div>

    <div>
    <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>

    <button type="submit">Login</button>

    <br/>

    <div th:if="${param.error}" style="color: red">
        Wrong login or password
    </div>

</form>
</body>
</html>