<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query}"></title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div style="width: fit-content; position: relative; left: 10px">
    <a th:href="@{/musicInfoTracker/search(query=${query})}">
        <h1 th:text="${'Query - ' + query}"></h1>
    </a>
</div>

<div class="found-artists" th:if="artists">
    <div class="item found-artist" th:each="artist, iterStat: ${artists}">
        <a th:href="@{/artist/{id}(id=${artist.getId()})}">
            <img class="item__image item__image--circular" th:src="${artist.getImageSource()}" th:alt="${artist.getName()} + ' image'">
            <h3 class="item__name" th:text="${artist.getName()}" th:title="${artist.getName()}"></h3>
        </a>
        <h3 class="item__param">Artist</h3>
    </div>
</div>

</body>
</html>