<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query}"></title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div style="width: fit-content; position: relative; left: 10px">
    <a th:href="@{/musicInfoTracker/search(query=${query})}">
        <h1 th:text="${'Query - ' + query}"></h1>
    </a>
</div>

<div class="found-tracks" th:if="tracks">
    <div class="list-item found-track" th:each="track, iterStat: ${tracks}">
        <img th:src="${track.getImageSource()}" alt="track image">

        <div class="found-track__name">
            <a th:href="@{/track/{id}(id=${track.getId()})}">
                <h3 th:text="${track.getName()}"></h3>
            </a>
        </div>

        <h3 class="found-track__duration" th:text="${track.getDurationToDisplay()}"></h3>

        <audio class="found-track__audio" controls>
            <source th:src="${track.getPreview_url()}">
        </audio>
    </div>
</div>

</body>
</html>