<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query}">Search query</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">

    <form class="header__search" name="f" method="get" th:action="@{/musicInfoTracker/search}">

        <label for="search"></label>
        <input class="header__search__field" type="text" id="search" name="query" placeholder="Query"/>

        <button class="header__search__button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>
        </button>

    </form>

</header>

<div class="search-categories">
    <h3>
        <a class="category" th:href="@{/musicInfoTracker/search/artists(query=${query})}">
            <span>Artists</span>
        </a>
        <a class="category" th:href="@{/musicInfoTracker/search/tracks(query=${query})}">
            <span>Tracks</span>
        </a>
        <a class="category" th:href="@{/musicInfoTracker/search/albums(query=${query})}">
            <span>Albums</span>
        </a>
    </h3>
</div>

<div class="found-artists" th:if="artists">
    <div class="item found-artist" th:each="artist, iterStat: ${artists}">
        <a th:href="@{/artist/{id}(id=${artist.getId()})}">
            <img class="item__image item__image--circular" th:src="${artist.getImageSource()}" th:alt="${artist.getName()} + ' image'">
            <h3 class="item__name" th:text="${artist.getName()}" th:title="${artist.getName()}"></h3>
        </a>
        <h3 class="item__param">Artist</h3>
    </div>
</div>

<div class="found-tracks" th:if="tracks">
    <div class="list-item found-track" th:each="track, iterStat: ${tracks}">
        <img th:src="${track.getImageSource()}" alt="track image">

        <div class="found-track__name">
            <a th:href="@{/track/{id}(id=${track.getId()})}">
                <h3 th:text="${track.getName()}"></h3>
            </a>
        </div>

        <h3 class="found-track__duration" th:text="${track.getDurationToDisplay()}"></h3>

        <audio class="found-track__audio" controls>
            <source th:src="${track.getPreview_url()}">
        </audio>

        <h3 class="found-track__artists">
            <span th:each="artist, iterStat : ${track.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}"
                   th:title="${artist.getName()}" style="color: white;"></a>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </h3>
    </div>
</div>

<div class="found-albums" th:if="albums">
    <div class="item found-album" th:each="album, iterStat: ${albums}">
        <a th:href="@{/albums/{id}(id=${album.getId()})}">
            <img class="item__image" th:src="${album.getImageSource()}" alt="album image">
            <h3 class="item__name" th:text="${album.getName()}"></h3>
        </a>
        <h3 class="item__param" th:text="${album.getAlbum_type()}"></h3>
    </div>
</div>

<div class="found-playlists" th:if="playlists">
    <div class="item found-playlist" th:each="playlist, iterStat: ${playlists}">
        <a th:href="@{/playlist/{id}(id=${playlist.getId()})}">
            <img class="item__image" th:src="${playlist.getImageSource()}" alt="playlist image">
            <h3 class="item__name" th:text="${playlist.getName()}"></h3>
        </a>
        <h3 class="item__param">Playlist</h3>
    </div>
</div>
</body>
</html>