.album{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
.album__image{
    width: 320px;
    height: 320px;

    position: relative;

    top: 60px;
    left: 300px;
}
.album__image--border{
    border-style: solid;
    border-color: white;
}
.album--details-color{
    color: #626262;
}
.album__release-date{
    width: fit-content;

    position: relative;

    left: 640px;
    bottom: 290px;
}
.album__name{
    position: relative;

    left: 640px;
    bottom: 40px;
}
.album__artists{
    position: relative;

    left: 640px;
    bottom: 50px;

    width: fit-content;
}
.album__total-tracks{
    position: relative;
    bottom: 50px;
    left: 10px;
}
.album__type{
    position: relative;
    bottom: 440px;
    left: 640px;
}
.album__label{
    position: relative;
    bottom: 560px;
    left: 10px;
}
.album__track-origin__param{
    text-align: left;
    position: relative;

    margin-right: 250px;
}
.track__number{
    position: relative;
    top: 70px
}
.track__image{
    position: relative;

    width: 65px;

    margin-left: 180px;
}
.track__name{
    position: relative;
    left: 250px;
    bottom: 40px;
    width: 315px;
}
.track__artists{
    position: relative;
    left: 565px;
    bottom: 80px;
    height: fit-content;
}
.track__duration{
    position: relative;
    left: 880px;
    bottom: 120px;
}