.artist{
    height: 480px;
    width: auto;

    background-color: #1a1a1a;
}
.artist__image{
    height: 350px;
    width: 350px;
    border-radius: 50%;

    display: block;
    margin: auto;

    position: relative;
    top: 20px;
}
.artist__name{
    margin: auto;

    position: relative;
    top: 20px;

    font-size: 40px;
}
.artist__spotify_followers{
    margin: auto;

    font-size: 15px;
    
    position: relative;
    top: 20px;
}
.artist__external_url{
    margin: auto;

    position: relative;
    top: 20px;

    font-size: 15px;
}
.artist__genres{
    position: relative;
    bottom: 440px;
    left: 10px;
    width: fit-content;
}
.artist__genres--details_color{
    color: #626262;
}
