.playlist{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
.playlist__image{
    width: 320px;
    height: 320px;

    position: relative;

    top: 60px;
    left: 300px;
}
.playlist__image--border{
    border-style: solid;
    border-color: white;
}
.playlist__name{
    position: relative;
    left: 640px;

    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist__owner{
    position: relative;
    left: 640px;
    bottom: 10px;
}
.playlist--details-color{
    color: #626262;
}
.playlist__status{
    position: relative;
    left: 640px;
    bottom: 130px;
}
.playlist__description{
    position: relative;
    left: 640px;
    bottom: 320px;
    max-width: 800px;
    overflow: auto;
}
.playlist__followers{
    position: relative;
    left: 300px;
    bottom: 570px;
}