.related_artists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.related_artist{
    width: 225px;
    padding: 30px 30px 0;
    background-color: #0a0a0a;
}
.related_artist:hover{
    background-color: #1a1a1a;
}
.related_artist img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
.related_artist__name{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}