.category{
    background-color: white;
    margin-left: 10px;
    border-radius: 20px;
    padding: 3px;
}
.category span{
    color: black;
}
.category:hover{
    text-decoration: none;
    color: black;
}
.found-artists{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list__found_track img{
    position: relative;
    top: 5px;
    left: 225px;
}
.list__found_track__name{
    position: relative;
    left: 290px;
    bottom: 60px;
    width: fit-content;
}
.found_albums{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}