.track{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
.track__image{
    border-style: solid;
    border-color: white;
    width: 420px;
    height: 420px;

    position: relative;

    top: 25px;
    left: 300px;

    display: block;
}
.track__release-date{
    color: #626262;
    width: fit-content;

    position: relative;

    left: 740px;
    bottom: 420px;
}
.track__name{
    position: relative;
    font-size: 50px;
    bottom: 330px;
    left: 740px;
}
.track__album{
    position: relative;

    bottom: 300px;
    left: 745px;

    font-size: 10px;
    width: fit-content;
}
.track__artists{
    position: relative;

    left: 745px;
    bottom: 360px;

    font-size: 10px;

    width: fit-content;
}
.track__audio{
    position: relative;
    bottom: 360px;
    left: 740px;
}
#recommendation-title{
    position: relative;
    left: 640px;
    top: 25px;
}

.recommended_track_container {
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.recommended_track_container__track {
    width: 225px;
    padding: 30px 30px 0;
    background-color: #0a0a0a;
}
.recommended_track_container__track:hover{
    background-color: #1a1a1a;
}
.recommended_track_container__track__name{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommended_track_container__track img{
    width: 225px
}
.recommended_track_container__track__artists{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}