.track{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
.track__image{
    border-style: solid;
    border-color: white;
    width: 320px;
    height: 320px;

    position: relative;

    top: 60px;
    left: 300px;
}
.track__release-date{
    color: #626262;
    width: fit-content;

    position: relative;

    left: 640px;
    bottom: 290px;
}
.track__name-and-album{
    position: relative;

    left: 640px;
    bottom: 40px;

    overflow: hidden;
}
.track__name,
.track__album{
    max-width: 380px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
.track__artists{
    position: relative;

    left: 640px;
    bottom: 50px;

    width: fit-content;
}
#recommendation-title{
    position: relative;
    left: 640px;
    top: 25px;
}

.recommended_track_container {
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.recommended_track_container__track {
    width: 225px;
    padding: 30px 30px 0;
    background-color: #0a0a0a;
}
.recommended_track_container__track:hover{
    background-color: #1a1a1a;
}
.recommended_track_container__track__name{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommended_track_container__track img{
    width: 225px
}
.recommended_track_container__track__artists{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}