body{
    background-color: #0e0e0e;
}

h1, h2, h3, h4{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    width: fit-content;
}
a:link{
    text-decoration: none;
    color: lightblue;
}
a:hover{
    color: white;
    text-decoration: underline;
}