.artist{
    height: 480px;
    width: auto;

    background-color: #1a1a1a;
}
.artist__image{
    height: 350px;
    width: 350px;
    border-radius: 50%;

    display: block;
    margin: auto;

    position: relative;
    top: 20px;
}
.artist__name{
    margin: auto;

    position: relative;
    top: 20px;

    font-size: 40px;
}
.artist__spotify_followers{
    margin: auto;

    font-size: 15px;

    position: relative;
    top: 20px;
}
.artist__external_url{
    margin: auto;

    position: relative;
    top: 20px;

    font-size: 15px;
}
.artist__external_url a{
    color: lightblue;
}
.artist__genres{
    position: relative;
    bottom: 440px;
    left: 10px;
    width: fit-content;
}
.artist__genres--details_color{
    color: #626262;
}
.artist-top-track__image{
    position: relative;
    left: 255px;
    bottom: 55px;
}
.artist-top-track__name{
    position: relative;
    left: 320px;
    bottom: 120px;

    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist-top-track__duration{
    position: relative;
    left: 1080px;
    bottom: 160px;
}
.artist-top-track__audio{
    position: relative;
    left: 1170px;
    bottom: 220px;
}
.artist-top-track__album{
    position: relative;
    bottom: 280px;
    left: 690px;

    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist-albums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
.artist-related-artists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
