.artist{
    height: 480px;
    width: auto;

    background-color: #1a1a1a;
}
.artist__image{
    height: 350px;
    width: 350px;
    border-radius: 50%;

    display: block;
    margin: auto;

    position: relative;
    top: 20px;
}
.artist__name{
    margin: auto;

    position: relative;
    top: 20px;

    font-size: 40px;
}
.artist__spotify_followers{
    margin: auto;

    font-size: 15px;

    position: relative;
    top: 20px;
}
.artist__external_url{
    margin: auto;

    position: relative;
    top: 20px;

    font-size: 15px;
}
.artist__genres{
    position: relative;
    bottom: 440px;
    left: 10px;
    width: fit-content;
}
.artist__genres--details_color{
    color: #626262;
}
.artist_top_tracks__track{
    height: 70px;
    overflow: hidden;
    margin-bottom: 20px;
}
.artist_top_tracks__track:hover{
    background-color: #1a1a1a;
}
.artist_top_tracks__track img{
    height: 60px;
    width: 60px;

    position: relative;
    left: 255px;
    bottom: 55px;
}
.artist_top_tracks__track__name{
    position: relative;
    left: 320px;
    bottom: 120px;

    width: fit-content;
}
.artist_top_tracks__track__duration{
    position: relative;
    left: 1080px;
    bottom: 160px;
}
.artist_top_tracks__track__audio{
    position: relative;
    left: 1170px;
    bottom: 220px;
}
.artist_albums{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
.artist_albums__album{
    padding: 30px 30px 0;
    background-color: #0a0a0a;
}
.artist_albums__album:hover{
    background-color: #1a1a1a;
}
.artist_albums__album img{
    width: 225px;
    height: 225px;
}
.artist_albums__album__name{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artist\'s_related_artists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.artist\'s_related_artist{
    width: 225px;
    padding: 30px 30px 0;
    background-color: #0a0a0a;
}
.artist\'s_related_artist:hover{
    background-color: #1a1a1a;
}
.artist\'s_related_artist img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
.artist\'s_related_artist__name{
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
