body{
    background-color: #464646;
}

h1{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}
h2{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}
h3{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}
.search-result-image{
    width: 160px;
    height: 160px;
}
#track-info-box{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
#track-release-date{
    color: #626262;
    width: fit-content;

    position: relative;

    left: 640px;
    bottom: 290px;
}
#track-image{
    border-style: solid;
    border-color: white;
    width: 320px;
    height: 320px;

    position: relative;

    top: 60px;
    left: 300px;
}
#track-name{
    position: relative;

    left: 640px;
    bottom: 40px;
    width: fit-content;
}
#track-artists{
    position: relative;

    left: 640px;
    bottom: 50px;
    width: fit-content;
}
