body{
    background-color: #464646;
}

h1{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    width: fit-content;
}
h2{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    width: fit-content;
}
h3{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    width: fit-content;
}
h4{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    width: fit-content;
}
.search-result-image{
    width: 160px;
    height: 160px;
}
.album-info-box{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
.album-release-date{
    color: #626262;
    width: fit-content;

    position: relative;

    left: 640px;
    bottom: 290px;
}
.album-image{
    border-style: solid;
    border-color: white;
    width: 320px;
    height: 320px;

    position: relative;

    top: 60px;
    left: 300px;
}
#track-name-and-album{
    position: relative;

    left: 640px;
    bottom: 40px;
}
.album-artists{
    position: relative;

    left: 640px;
    bottom: 50px;
}
a:link{
    color: lightblue;
}
.track-param-name{
    position: relative;

    left: 250px;
}
.track-param-artists{
    position: relative;

    left: 500px;
}
.track-param-duration{
    position: relative;

    left: 750px;
}
