<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Info Tracker</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <nav class="header__navbar">
        <ul>
            <li><h3><a href="/musicInfoTracker">Home</a></h3></li>
        </ul>
    </nav>

    <form class="header__search" name="f" method="get" th:action="@{/musicInfoTracker/search}" style="margin-left: 10px;">

        <label for="search"></label>
        <input class="header__search__field" type="text" id="search" name="query" placeholder="Query"/>

        <button class="header__search__button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>
        </button>

    </form>

</header>

<div id="website-name">
    <h1>Music Info Tracker</h1>
</div>

<h3 style="position: relative; top: 450px; margin: auto;" >New releases</h3>

<div class="new-releases">
    <div class="item new-release" th:each="album: ${new_releases}">
        <a th:href="@{/albums/{id}(id=${album.getId()})}">
            <img class="item__image" th:src="${album.getImageSource()}" alt="track image">
            <h3 class="item__name" th:text="${album.getName()}" th:title="${album.getName()}"></h3>
        </a>
        <h3 class="item__param" th:text="${album.getAlbum_type()}"></h3>
    </div>
</div>
</body>
</html>