<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Info Tracker</title>

    <link rel="stylesheet" href="/css/base/_typography.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<form name="f" method="get" th:action="@{/musicInfoTracker/search}">

    <div>
        <label for="search"></label>
        <input type="text" id="search" name="query" placeholder="Query"/>
    </div>

    <button type="submit">Search</button>

</form>

</body>
</html>