<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query}">Search query</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<h1 th:text="${'Found results: ' + artists.size()}"></h1>

<h1>Artists:</h1>

<table>
    <tr>
        <td th:each="artist : ${artists}">
            <a th:href="@{/artist/{id}(id=${artist.getId()})}">
                <img th:src="${artist.getImageSource()}" alt="Artist's image">
            </a>
            <h2 th:text="${artist.getName()}"></h2>
        </td>
    </tr>
</table>

</body>
</html>