<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query}">Search query</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<h1 th:text="${'Found results: ' + artists.size()}"></h1>

<table>
    <h1>Artists</h1>
    <tr>
        <td th:each="artist: ${artists}">
            <img th:src="${artist.getImageSource()}" alt="artist's image">
            <h1 th:text="${artist.getName()}"></h1>
        </td>
    </tr>
</table>

</body>
</html>