<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${query}">Search query</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<h1>Artists:</h1>
<div th:if="artists">
    <table>
        <tr>
            <td th:each="artist : ${artists}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}">
                    <img class="search-result-image" th:src="${artist.getImageSource()}" alt="Artist's image">
                </a>
                <h2 th:text="${artist.getName()}"></h2>
            </td>
        </tr>
    </table>
</div>
<h2 th:if="artists_not_found" th:text="${artists_not_found}"></h2>

<h1>Tracks:</h1>
<div th:if="tracks">
    <table>
        <tr>
            <td th:each="track : ${tracks}">
                <a th:href="@{/track/{id}(id=${track.getId()})}">
                    <img class="search-result-image" th:src="${track.getImageSource()}" alt="Track image">
                </a>
                <h2 th:text="${track.getName()}"></h2>
            </td>
        </tr>
    </table>
</div>
<h2 th:if="tracks_not_found" th:text="${tracks_not_found}"></h2>

<h1>Albums:</h1>
<div th:if="albums">
    <table>
        <tr>
            <td th:each="album: ${albums}">
                <img class="search-result-image" th:src="${album.getImageSource()}" alt="Album image">
                <h2 th:text="${album.getName()}"></h2>
            </td>
        </tr>
    </table>
</div>
<h2 th:if="albums_not_found" th:text="${albums_not_found}"></h2>
</body>
</html>