<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Related artists</title>

  <link rel="stylesheet" href="/css/main.css" type="text/css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div style="width: fit-content; position: relative; left: 10px">
  <a th:href="@{/artist/{id}(id=${artist.getId()})}">
    <h1 th:text="${artist.getName()}"></h1>
  </a>
</div>

<div class="related-artists">
  <div class="item related_artist" th:each="related_artist, iterStat: ${related_artists}">
    <a th:href="@{/artist/{id}(id=${related_artist.getId()})}">
      <img class="item__image item__image--circular" th:src="${related_artist.getImageSource()}" alt="artist image">
      <h3 class="item__name" th:text="${related_artist.getName()}" th:title="${related_artist.getName()}"></h3>
    </a>
  </div>
</div>

</body>
</html>