.album{
    background-color: #1a1a1a;
    height: 480px;
    width: auto;
}
.album__image{
    width: 320px;
    height: 320px;

    position: relative;

    top: 60px;
    left: 300px;
}
.album__image--border{
    border-style: solid;
    border-color: white;
}
.album--details-color{
    color: #626262;
}
.album__release-date{
    width: fit-content;

    position: relative;

    left: 640px;
    bottom: 290px;
}
.album__name{
    position: relative;

    left: 640px;
    bottom: 40px;
}
.album__artists{
    position: relative;

    left: 640px;
    bottom: 50px;

    width: fit-content;
}
.album__artists a{
    color: lightblue;
}
.album__total-tracks{
    position: relative;
    bottom: 50px;
    left: 10px;
}
.album__type{
    position: relative;
    bottom: 440px;
    left: 640px;
}
.album__label{
    position: relative;
    bottom: 560px;
    left: 10px;
}
.album_track_origin__param{
    text-align: left;
    position: relative;

    margin-right: 320px;
}

.album_tracks__track__number{
    position: relative;
    left: 10px;
    top: 5px;
}
.album_tracks__track__name{
    position: relative;
    left: 330px;
    bottom: 120px;

    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} .album_tracks__track__name a { color: white; }

.album_tracks__track__artists{
    position: relative;
    left: 700px;
    bottom: 160px;

    max-width: 351px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} .album_tracks__track__artists a { color: white; }

.album_tracks__track__duration{
    position: relative;
    left: 1080px;
    bottom: 200px;
}
.album_tracks__track__audio{
    position: relative;
    bottom: 259px;
    left: 1170px;
}