<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${album.getName()}"></title>

  <link rel="stylesheet" href="/css/style.css" type="text/css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="album-info-box">

    <img class="album-image" th:src="${album.getImageSource()}" alt="album image">

    <h3 class="album-release-date" th:text="${'Release date: ' + album.getReleaseDateToDisplay()}"></h3>

    <h1 id="track-name-and-album" th:text="${album.getName()}"></h1>

    <div class="album-artists">
        <h3>By
            <span th:each="artist, iterStat : ${album.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}"> &amp; </span>
            </span>
        </h3>
    </div>

    <h3 id="album-tracks-in-total" th:text="${'Tracks in total: ' + album.getTotalTracks()}"></h3>

    <h3 id="album-type" th:text="${'Album type: ' + album.getAlbum_type()}"></h3>

</div>
<div id="album-tracks-origin">
    <h4>№
        <span class="track-param-name">Name</span>
        <span class="track-param-artists">Artists</span>
        <span class="track-param-duration">Duration</span>
    </h4>
</div>
<div id="album-tracks">
    <div id="album-track" th:each="track : ${album.getTracks()}">
        <h3 id="track-number-in-album" th:text="${track.getTrackNumberInAlbum()}"></h3>
        <img class="track-image-to-display" th:src="${album.getImageSource()}" alt="track image">
        <h3 id="track-name-in-album" th:text="${track.getName()}"></h3>
        <h3 class="track-artists-to-display">
            <span th:each="artist, iterStat : ${track.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </h3>
        <h3 class="track-duration-to-display" th:text="${track.getDurationToDisplay}"></h3>
    </div>
</div>

</body>
</html>