<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${album.getName()}"></title>

    <link rel="stylesheet" href="/css/pages/album.css" type="text/css"/>
    <link rel="stylesheet" href="/css/base/_typography.css" type="text/css"/>
    <link rel="stylesheet" href="/css/components/_navigation.css" type="text/css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<div class="album">

    <img class="album__image album__image--border" th:src="${album.getImageSource()}" alt="album image">

    <h3 class="album__release-date album--details-color" th:text="${'Release date: ' + album.getReleaseDateToDisplay()}"></h3>

    <h1 class="album__name" th:text="${album.getName()}"></h1>

    <div class="album__artists">
        <h3>By
            <span th:each="artist, iterStat : ${album.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}"> &amp; </span>
            </span>
        </h3>
    </div>

    <h3 class="album__total-tracks album--details-color" th:text="${'Tracks in total: ' + album.getTotalTracks()}"></h3>

    <h3 class="album__type album--details-color" th:text="${'Album type: ' + album.getAlbum_type()}"></h3>

    <h3 class="album__label album--details-color" th:text="${'Label: ' + album.getLabelInfo()}"></h3>

</div>

<div class="album__track-origin">
    <h4>
        <span class="album__track-origin__param" style="left: 10px;">#</span>
        <span class="album__track-origin__param">Name</span>
        <span class="album__track-origin__param">Artists</span>
        <span class="album__track-origin__param">Duration</span>
    </h4>
</div>

<div class="tracks">
    <div class="track" th:each="track : ${album.getTracks()}">
        <h3 class="track__number" th:text="${track.getTrackNumberInAlbum()}"></h3>

        <img class="track__image" th:src="${album.getImageSource()}" alt="track image">

        <h3 class="track__name">
            <a th:href="@{/track/{id}(id=${track.getId()})}" th:text="${track.getName()}"></a>
        </h3>

        <h3 class="track__artists">
            <span th:each="artist, iterStat : ${track.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </h3>

        <h3 class="track__duration" th:text="${track.getDurationToDisplay}"></h3>
    </div>
</div>

</body>
</html>