<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${artist.getName()}"></title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

</head>
<body>

<header class="header">

    <form class="header__search" name="f" method="get" th:action="@{/musicInfoTracker/search}">

        <label for="search"></label>
        <input class="header__search__field" type="text" id="search" name="query" placeholder="Query"/>

        <button class="header__search__button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>
        </button>

    </form>

</header>

<div class="artist">

    <img class="artist__image" th:src="${artist.getImageSource()}" th:alt="${artist.getName() + '''s image'}">

    <h1 class="artist__name" th:text="${artist.getName()}"></h1>

    <h1 class="artist__spotify_followers" th:text="${'followers on a Spotify: ' + artist.getFollowers()}"></h1>

    <h1 class="artist__external_url">
        <a th:href="${artist.getSpotifyUrl()}">
            <span th:text="${artist.getName()}"></span>
        </a>
        <span> on a spotify</span>
    </h1>

    <div class="artist__genres">
        <h3 class="artist__genres--details_color">Genres:
            <span th:each="genre, iterStat: ${artist.getGenres()}">
                <span th:text="${genre}"></span>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </h3>
    </div>

</div>

<h1 th:text="${artist.getName() + '''s popular tracks'}" style="font-size: 20px; padding: 10px;"></h1>

<div class="artist_top_tracks">
    <div class="artist_top_tracks__track" th:each="track, iterStat: ${artist_top_tracks}">
        <h3 th:text="${iterStat.index + 1}" style="position: relative; left: 10px; top: 5px;"></h3>

        <img th:src="${track.getImageSource()}" alt="track image">

        <div class="artist_top_tracks__track__name">
            <a th:href="@{/track/{id}(id=${track.getId()})}">
                <h3 th:text="${track.getName()}"></h3>
            </a>
        </div>

        <h3 class="artist_top_tracks__track__duration" th:text="${track.getDurationToDisplay()}"></h3>

        <audio controls class="artist_top_tracks__track__audio">
            <source th:src="${track.getPreview_url()}">
        </audio>
    </div>
</div>

<h1 style="font-size: 20px; padding: 10px;">Related artists</h1>

<div class="artist's_related_artists">
    <div class="artist's_related_artist" th:each="artist: ${related_artists}">
        <a th:href="@{/artist/{id}(id=${artist.getId()})}">
            <img th:src="${artist.getImageSource()}" alt="artist image">
            <h3 class="artist's_related_artist__name" th:text="${artist.getName()}"></h3>
        </a>
    </div>
</div>
</body>
</html>