<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${track.getName()}"></title>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div id="track-info-box">
    <img id="track-image" th:src="${track.getImageSource()}" alt="track image">

    <h3 id="track-release-date" th:text="${track.getAlbum().getReleaseDateToDisplay()}"></h3>

    <h1 id="track-name" th:text="${track.getName()}"></h1>

    <div id="track-artists">
    <h3>By <span th:each="artist, iterStat : ${track.getArtists()}"
          th:text="${artist.getName() + (iterStat.last ? '' : ' &amp; ')}"></span></h3>
    </div>
</div>


</body>
</html>