<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${track.getName()}"></title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">

    <form class="header__search" name="f" method="get" th:action="@{/musicInfoTracker/search}">

        <label for="search"></label>
        <input class="header__search__field" type="text" id="search" name="query" placeholder="Query"/>

        <button class="header__search__button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>
        </button>

    </form>

</header>

<div class="track">
    <img class="track__image" th:src="${track.getImageSource()}" alt="track image">

    <h3 class="track__release-date" th:text="${'Release date: ' + track.getAlbum().getReleaseDateToDisplay()}"></h3>

    <div class="track__album">
        <h1>
            Album:
            <a th:href="@{/albums/{id}(id=${track.getAlbum().getId()})}" th:text="${track.getAlbum().getName()}"
               th:title="${track.getAlbum().getName()}"></a>
        </h1>
    </div>


    <h1 class="track__name" th:text="${track.getName()}" th:title="${track.getName()}"></h1>

    <div class="track__artists">
        <h1>By
            <span th:each="artist, iterStat : ${track.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}" th:title="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}"> &amp; </span>
            </span>
        </h1>
    </div>

    <audio controls class="track__audio">
        <source th:src="${track.getPreview_url()}">
    </audio>
</div>

<h3 id="recommendation-title">Recommendations:</h3>

<div id="track-recommendations">
    <div class="recommended_track_container">
        <div class="recommended_track_container__track" th:each="recommendedTrack : ${recommendations}">
            <a th:href="@{/track/{id}(id=${recommendedTrack.getId()})}">
                <img th:src="${recommendedTrack.getImageSource()}" alt="track image">
                <h3 class="recommended_track_container__track__name" th:text="${recommendedTrack.getName()}" th:title="${recommendedTrack.getName()}"></h3>
            </a>
                <h4 class="recommended_track_container__track__artists">
                    <span th:each="artist, iterStat : ${recommendedTrack.getArtists()}">
                        <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}" th:title="${artist.getName()}"></a>
                        <span th:if="${!iterStat.last}">, </span>
                    </span>
                </h4>
        </div>
    </div>
</div>


</body>
</html>