<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${track.getName()}"></title>

    <link rel="stylesheet" href="/css/base/_typography.css" type="text/css"/>
    <link rel="stylesheet" href="/css/pages/track.css" type="text/css"/>
    <link rel="stylesheet" href="/css/components/_navigation.css" type="text/css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="album-info-box">
    <img class="album-image" th:src="${track.getImageSource()}" alt="track image">

    <h3 class="album-release-date" th:text="${track.getAlbum().getReleaseDateToDisplay()}"></h3>

    <h1 id="track-name-and-album">
        <span th:text="${track.getName()}"></span>
        (
        <a th:href="@{/albums/{id}(id=${track.getAlbum().getId()})}">
            <span th:text="${track.getAlbum().getName()}"></span>
        </a>
        )
    </h1>

    <div class="album-artists">
        <h3>By
            <span th:each="artist, iterStat : ${track.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}"> &amp; </span>
            </span>
        </h3>
    </div>
</div>

<h3 id="recommendation-title">Recommendations:</h3>

<div id="recommendations">
    <div class="track-container">
        <div class="track" th:each="recommendedTrack : ${recommendations}">
            <a th:href="@{/track/{id}(id=${recommendedTrack.getId()})}">
                <img th:src="${recommendedTrack.getImageSource()}" alt="track image">
                <h3 th:text="${recommendedTrack.getName()}"></h3>
            </a>
        </div>
    </div>
</div>


</body>
</html>