<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${album.getName()}"></title>

    <link rel="stylesheet" href="/css/main.css" type="text/css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">

    <form class="header__search" name="f" method="get" th:action="@{/musicInfoTracker/search}">

        <label for="search"></label>
        <input class="header__search__field" type="text" id="search" name="query" placeholder="Query"/>

        <button class="header__search__button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
            </svg>
        </button>

    </form>

</header>

<div class="album">

    <img class="album__image album__image--border" th:src="${album.getImageSource()}" alt="album image">

    <h3 class="album__release-date album--details-color" th:text="${'Release date: ' + album.getReleaseDateToDisplay()}"></h3>

    <h1 class="album__name" th:text="${album.getName()}" th:title="${album.getName()}"></h1>

    <div class="album__artists">
        <h3>By
            <span th:each="artist, iterStat : ${album.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}" th:title="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}"> &amp; </span>
            </span>
        </h3>
    </div>

    <h3 class="album__total-tracks album--details-color" th:text="${'Tracks in total: ' + album.getTotalTracks()}"></h3>

    <h3 class="album__type album--details-color" th:text="${'Album type: ' + album.getAlbum_type()}"></h3>

    <h3 class="album__label album--details-color" th:text="${'Label: ' + album.getLabelInfo()}"></h3>

</div>

<div class="album_track_origin">
    <h4>
        <span class="album_track_origin__param" style="left: 10px;">#</span>
        <span class="album_track_origin__param">Name</span>
        <span class="album_track_origin__param">Artists</span>
        <span class="album_track_origin__param">Duration</span>
    </h4>
</div>

<div class="album_tracks">
    <div class="list__track" th:each="track : ${album.getTracks()}">
        <h3 class="album_tracks__track__number" th:text="${track.getTrackNumberInAlbum()}"></h3>

        <img th:src="${album.getImageSource()}" alt="track image">

        <h3 class="album_tracks__track__name">
            <a th:href="@{/track/{id}(id=${track.getId()})}" th:text="${track.getName()}" th:title="${track.getName()}"></a>
        </h3>

        <h3 class="album_tracks__track__artists">
            <span th:each="artist, iterStat : ${track.getArtists()}">
                <a th:href="@{/artist/{id}(id=${artist.getId()})}" th:text="${artist.getName()}" th:title="${artist.getName()}"></a>
                <span th:if="${!iterStat.last}">, </span>
            </span>
        </h3>

        <h3 class="album_tracks__track__duration" th:text="${track.getDurationToDisplay}"></h3>

        <audio controls class="album_tracks__track__audio">
            <source th:src="${track.getPreview_url()}">
        </audio>
    </div>
</div>

</body>
</html>